.content {}

.content h3 {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 3px solid black;
    padding-bottom: 15px;
    margin: 0 0 10px 0;

}

.input_row {
    display: inline-block;
    margin-top: 1px;
    width: 100%;
}

.password {
    display: inline-block;
    min-width: 155px;
    font-size: small;
}

.input {
    width: 350px;
    height: 50px;
    padding: 10px;
    border: 1px solid #dadada;
    font-size: 14px;
}

.btn_group button {
    min-width: 98px;
    height: 32px;
    border: 1px solid black;
    background-color: white;
    margin: 20px 0 0 5px;

    font-weight: 700;
    line-height: 30px;

    cursor: pointer;
}

.btn_group :nth-child(2) {
    background-color: white;
    margin-left: 5px;
    color: rgb(52, 106, 255);
    border: 1px solid rgb(52, 106, 255);
}