.content {}

.title {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 3px solid black;
    padding-bottom: 15px;
    margin: 0;
}

.content table {
    width: 100%;
    border-spacing: 0;
}

.content tbody {
    cursor: pointer;
}

.content tr {
    height: 50px;
    text-align: center;

}

.content td {
    min-width: 50px;
    padding: 10px;
    border-top: 1px solid #dadada;
}

.content td button {
    min-width: 98px;
    height: 32px;
    border: 1px solid black;
    background-color: white;
    margin: 0 0 0 5px;

    font-weight: 700;
    line-height: 30px;

    cursor: pointer;
}

.content th:nth-child(3) {
    width: 400px;
}

.input {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.password {
    display: inline-block;
    min-width: 155px;
    font-size: small;
}

.btn_group button {
    float: right;
    min-width: 98px;
    height: 32px;
    border: 1px solid black;
    background-color: white;
    margin: 20px 0 30px 5px;

    font-weight: 700;
    line-height: 30px;

    cursor: pointer;
}

.btn_group :nth-child(1) {
    background-color: white;
    margin-left: 5px;
    color: rgb(52, 106, 255);
    border: 1px solid rgb(52, 106, 255);
}