.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 50px 0px 0px 40px;

    /* border: 1px solid black; */
    width: 250px;
}

.content h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.span {
    cursor: pointer;
    font-size: 17px;
    line-height: 40px;
}

.spanselect {
    cursor: pointer;
    border-left: 5px solid black;
    padding-left: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}