.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px 0px 0px 20px;
    border: 1px solid black;
    width: 250px;
}
.content h3{
    font-weight: 900;  
    margin-bottom: 20px;
}
.span{
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
}
.spanselect{
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}