.content h2 {
    font-size: 24px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin: 0;
}

.content table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border-left-style: none;
    border-right-style: none;

}

.content tr {
    border-collapse: collapse;
    text-indent: initial;
    border-bottom: 1px solid #dadada;
    height: 50px;
}

.content th {
    text-align: left;
    width: 170px;
    margin: 0;
    padding: 10px 0 0 0;
}

.content td {
    width: 210px;
}