.container {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
}

.content {
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-height: 655px;
    display: flex;
    justify-content: center;
}

.logo {
    all: unset;
    margin: 0px auto;
    background-image: url("../../public/icon/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login_wrap {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    height: 495px;
    width: 430px;
    border: 1px solid lightgrey;
    /* border-radius: 15px;     */
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 700;
    color: #777;
}

.id_pw_wrap {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;


}

.id_pw_wrap input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 12px;
    background-color: white;
    box-sizing: border-box;
    /* border-radius: 6px; */
    border-color: gray;
    border: 1px solid #dadada;
    box-shadow: 0 0 0 30px #fff inset !important;
}

.keep_login {
    display: flex;
    margin-top: 25px;
    padding-right: 5px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: #aaa;

}

.keep_login span {
    cursor: pointer;

}

.keep_login input {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    margin-left: 5px;
    cursor: pointer;

}

.login_btn {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
}

.login_btn button {
    width: 100%;
    height: 50px;
    background-color: rgb(52, 106, 255);
    border: none;
    color: white;
    font-size: large;
    /* border-radius: 6px; */
    font: bold;

}

.signup_btn {
    margin-top: 3px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;

}

.signup_btn span {
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(52, 106, 255);


}