.container {
    text-align: center;
}

.carousel_container {
    width: 1280px;
    overflow: hidden;
    border: 1px solid blue;
}

.slideimage {
    width: 500%;
    margin: 0 auto;
    display: flex;
}

.next_btn {
    height: 40px;
    width: 40px;
    all: unset;
    background-color: black;
    cursor: pointer;
}

.prev_btn {
    height: 40px;
    width: 40px;
    all: unset;
    background-color: black;
    cursor: pointer;
}

/* .button :hover {
    transition: all 0.3s ease-in-out;
    background-color: red;
    color: #fff;
} */
.btn_group {}