.hamburger {
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    padding: 5px 0 0 0;
    background-color: cornflowerblue;
}

.hamburger div {
    margin: 7px 0px 2px 7px;
    width: 35px;
    height: 5px;
    background-color: white;
}

.category {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

}

.sideBar {
    display: none;
}

.category1 {
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
}


.category2 {
    display: none;
    position: absolute;
    left: 258px;
    top: -1px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
}


.menu {
    z-index: 2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.menu2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.menu:hover .category2 {
    display: block;
}