.hamburger {
    width: 60px;
    height: 60px;
    /* border: 1px solid black; */
    padding: 11px 0 0 2px;
    background-color: white;
    border-radius: 40px;
}

.hamburger div {
    margin: 7px 0px 4px 8px;
    width: 35px;
    height: 3px;
    background-color: black;
}

.sideBar {
    display: none;
}

.category1 {
    position: absolute;
    top: 102px;
    left: 0;
    width: 250px;
    height: 1000;
    border: 0 1px 0 0 solid #888;
    background-color: white;
    z-index: 1;
    box-shadow: -1px 4px 5px rgb(0 0 0 / 30%)
}


.category2 {
    display: none;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 250px;
    min-height: 390px;
    background-color: white;
    box-shadow: 1px 4px 4px rgb(0 0 0 / 30%)
}


.menu {
    z-index: 2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.menu2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.menu:hover+.category2,
.category2:hover {
    display: block;
}

.menu:hover,
.menu2:hover {
    background-color: rgb(52, 106, 255);
    color: white;
}