

.container 
{
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    background-color: rgb(245, 241, 241);
}

.totalContainer
{
    width: 70%;
    margin: auto;
}

.category
{
    border: 1px solid black;
    height: 500px;
    background-color: white;
}

.categoryTag
{
    display: flex;
    height: 20%;
}

.categoryList
{
    line-height: 30px;
    width: 10%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.categoryFilter
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-bottom: 1px solid black;
}

.categoryBig
{
    width: 200px;
    padding: 5px;
    padding-top: 5px;
}

.smallCategoryTag
{
    display: flex;
    height: 70%;
}

.smallCategory
{
    line-height: 60px;
    width: 10%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.smallCategoryFilter
{
    width: 90%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.categorySmall
{
    width: 200px;
    padding: 10px;
    padding-top: 20px;
}

.priceRankTag
{
    display: flex;
    height: 10%;
}

.priceRank
{
    line-height: 35px;
    width: 10%;
    border-right: 1px solid black;
}

.priceRankFilter
{
    width: 90%;
    width: 200px;
    padding: 5px;
}

.sort
{   
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: rgb(223, 223, 223);
}

.sortFilter
{
    width: 130px;
    padding: 10px;
}

.price
{
    display: flex;
}

.itemList
{
    width: 80%;
}

.priceList
{
}

.Ranking
{
    width: 20%;
    margin-left: 20px;
    
}

.RankingList
{
    border: 1px solid black;
    height: 700px;
    background-color: white;
}