.before {
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 7px 5px 0 4px;
    background-color: white;
    vertical-align: top;
    content: '';
}

.footer {
    background-color: white;
    display: block;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 1px #777;
}

.info {
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.marketing {
    text-align: center;
}

.address {
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    /* all: unset; */
    margin: 0 auto;
    margin-top: 20px;

    background-image: url("../public/icon/logo.png");
    background-size: 120px;
    background-repeat: no-repeat;
    width: 120px;
    height: 75px;

}