.header {
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

.headbar {
    position: relative;
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

.logo {
    all: unset;
    margin: 0px auto;
    background-image: url("../public/icon/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    cursor: pointer;
}


.category {
    top: 8px;
    left: 0px;
}

.loginbtn {
    width: 70px;

}

.search {
    top: 10px;
    left: 464px;
    height: 45px;
    width: 350px;
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 2px 5px 5px;
}

.search input {
    border: none;
    height: 100%;
    width: 100%;
    margin-right: 2px;
}

.search button {
    border: 1px solid black;
    all: unset;
    background-image: url("../public/icon/free-icon-loupe-709592.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    margin: 3px 4px 0 0;
}

.mypage {
    top: 10px;
    right: 0px;
    display: flex;
    align-items: center;
}

.itemBox,
.mypagebtn {
    all: unset;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding-left: 10px;
}

.itemBox {
    background-image: url("../public/icon/free-icon-shopping-cart-empty-side-view-34568.png");
}

.mypagebtn {
    background-image: url("../public/icon/premium-icon-user-1358034.png");
}