.header{
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}
.headbar{
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.logo{   
    position: absolute;
    top: 12px;
    left: 10px;
    height: 30px;
    border: 1px solid black;
}
.menu{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

}
.loginbtn{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
.search{
    position: absolute;
    top: 10px;
    left: 464px;
    height: 40px;
    width: 250px;
    border: 1px solid black;
    display: flex;
}
.search input{
    height: 100%;
    width: 100%;
}
.search button{
    height: 40px;
    width: 40px;
}

.itemBox{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}