.header
{
    border: 1px solid black;
}

.mainBar
{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}


.mainlogo
{   
    height: 30px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 10px;
    flex-wrap: wrap;   
    border: 1px solid black;
}

.loginBut
{
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    width: 80px;
    border: 1px solid black;
}

.searchBar
{
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.search
{
    height: 50px;
    width: 40%;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 15px;
    border: 1px solid black;
}

.itemBox
{
    height: 50px;
    width: 100px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid black;
}

.outLine
{
    display: flex;
    flex: 1;
    padding: 1rem 0;
    border-bottom: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    text-align: center;
}