.header {
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

.headbar {
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 12px;
    left: 220px;
    height: 30px;
    background-image: url("../public/icon/free-icon-loupe-709592.png");
}

.menu {
    position: absolute;
    top: 12px;
    left: 160px;
}

.mypage {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

}

.loginbtn {
    height: 60px;
    width: 60px;

}

.search {
    position: absolute;
    top: 10px;
    left: 464px;
    height: 40px;
    width: 250px;
    display: flex;
}

.search input {
    height: 100%;
    width: 100%;
}

.search button {
    margin: 5px;
    all: unset;
    background-image: url("../public/icon/free-icon-loupe-709592.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.itemBox {
    margin: 5px;
    all: unset;
    background-image: url("../public/icon/free-icon-shopping-cart-481384.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    cursor: pointer;

}

.mypagebtn {
    margin: 5px;
    all: unset;
    background-image: url("../public/icon/free-icon-user-747376.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    cursor: pointer;
}