.main {
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainList {
    width: 1280px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.itemList {
    margin-top: 15px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #fff;
}

.recommendtitle {
    margin-top: 100px;
}

.recommendtitle h3 {
    margin: 0;
    height: 40px;
    font-size: 27px;
    font-weight: 700;
}

.recommendtitle h3 :nth-last-child(1) {
    color: dodgerblue;
    font-size: 30px;
}

.rank {
    width: 1280px;
    margin-top: 40px;
}