.style {
    width: 100%;
    height: 600px;
    display: flex;
    border: 1px solid #777;
    background-color: white;
}

.category {
    height: 100%;
    width: 230px;
    padding: 40px 0 0 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    border-right: 1px solid #777;
}

.item {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0 0 10px;

}

.imageUrl {
    width: 190px;
    height: 190px;
    overflow: hidden;
}

.info {
    height: 100px;
    width: 100%;
    /* border: 1px solid rosybrown; */
}

.lList {
    width: 210px;
    margin: 6px 0 0 4px;
    cursor: pointer;
}

.name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 38px;
    line-height: 19px;
    margin: 6px 0 1px 3px;
}

.price {
    font-size: 17px;
    height: 20px;
    margin: 6px 0 1px 3px;
    background-color: white;
}