.style {
    width: 100%;
    height: 640px;
    display: flex;
    border-top: 2px solid black;
    background-color: white;
}

.category {
    height: 100%;
    width: 230px;
    padding: 40px 0 0 20px;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    border-right: 1px solid #f2f2f2;
    color: #33383e;
}

.content {
    width: 230px;

}

.item {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0 0 10px;

}

.thumb {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageUrl {
    width: 100%;
}

.info {
    height: 75px;
    width: 180px;
    /* border: 1px solid rosybrown; */
}

.lList {
    width: 210px;
    height: 290px;
    margin: 15px 0 0 40px;
    cursor: pointer;
    z-index: 1;
}

.name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 40px;
    line-height: 19px;
    margin: 10px 0 1px 3px;
}

.price {
    font-size: 17px;
    height: 20px;
    margin: 15px 0 1px 3px;
    background-color: white;
}

.lList:hover .imageUrl {
    transform: scale(1.1);
}