.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    top: 0;
}

.main {
    height: auto;
    min-height: 100%;
}


.footer {
    margin-top: 50px;
    position: relative;
    top: 100%;

}