.style {
    height: 450px;
    display: flex;
    flex-direction: column;
    /* border-top: 2px solid black; */
    /* background-color: darkcyan; */
}

.category {
    height: 100%;
    margin: 30px 0 0 0px;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    color: #33383e;
}

.content {
    width: 250px;
    float: left;
    margin-right: 10px;
}



.item {
    margin-top: 15px;
    display: flex;
    list-style: none;
}

.lList {
    width: 240px;
    margin: 0 40px 0 0;
    cursor: pointer;

}

.thumb {
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.imageUrl {
    width: 100%;
}

.info {
    height: 100px;
    width: 100%;
}

.name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 40px;
    line-height: 19px;
    margin: 10px 0 1px 3px;
}

.price {
    font-size: 17px;
    height: 20px;
    margin: 15px 0 1px 3px;
    background-color: white;
}

.lList:hover .imageUrl {
    transform: scale(1.1);
}